# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Table data science tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQl

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. PyTorch
4. NumPy
5. Keras
6. Matplotlib

| Data Science Tools |
| -------- | 
| Anaconda | 
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Javier José Marín Salazar